@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
}

body, nav {
    background-color: #575354;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-left: 0;
    margin-right: 0;
  }

h1{
    font-family: 'Open Sans', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

#topNav {
    margin-top: 2%;
}


#topNav a {
    margin-right: 50px;
    margin-left: 50px;
}

a:visited { 
    text-decoration: none;
}

/* picture */

#stephPic {
    margin-top: 8%;
    margin-left: 13%;
    width: 75%;
}
/* about */

#infoAboutMe {
    background-color: #e8a621;
    padding-top: 12%;
    padding-right: 18%;
    padding-left: 18%;
    padding-bottom: 12%;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 20px;
}

#infoAboutMe h1 {
    font-size: 50px;
    margin-bottom: 5%;
}

/* work samples */

#myWorkSamples {
    color: white;
    padding-left: 18%;
    padding-right: 18%;
    font-size: 20px;
}

#myWorkSamples a{
    color: #e8a621;
}

#myWorkSamples a:hover {
    color: white;
}


/* srced from: http://embedresponsively.com/ */
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

/* contact me */
#contactMe {
    background-color: #e8a621;
    padding-top: 10%;
    padding-left: 18%;
    padding-right: 18%;
    padding-bottom: 10%;
    margin-top: 10%;
    text-align: center;
}

#contactHead {
    margin-bottom: 7%;
}

#contactMe a:hover {
    color: white;
  }

#contactMe img {
    width: 50%;
}


#iconCredit {
    font-size: 10px;
}

#footerB p{
    font-size: 10px;
}

#footerB{
    color: white;
    padding-top: 4%;
    padding-bottom: 2%;
    text-align: center;
}

#footerB a {
    color: white;
}

#footerB a:hover {
    color: #e8a621;
}

/* media queries */

@media only screen and (max-width: 2560px) {
    .navbar-nav {
        float:none;
        margin:0 auto;
        text-align: center;
    }
    
    .navbar-nav > li {
        display: inline-block;
        float:none;
    }
}

@media only screen and (min-width: 2560px) {
  p {
      font-size: 30px;
  }

  .navbar-nav {
      font-size: 25px;
  }
}

@media only screen and (max-width: 1024px) {
    p {
        font-size: 17px;
    }

    #stephPic {
        margin-top: 8%;
        margin-left: 3%;
        width: 100%;
    }

    #infoAboutMe, #myWorkSamples, #contactMe {
        padding-right: 10%;
        padding-left: 10%;
    }

    #iconCredit{
        font-size: 7px;
    }

}

@media only screen and (max-width: 767px) {
    p {
        font-size: 16px;
    }

    h1 {
        font-size: 30px;
    }

    #infoAboutMe h1 {
        font-size: 35px;
    }

    #infoAboutMe{
        padding-top: 10%;
        padding-right: 5%;
        padding-left: 5%;
        padding-bottom: 10%;
    }

    #myWorkSamples {
        padding-left: 5%;
        padding-right: 5%;
    }

    #clinkTxt {
        display: none;
    }

    #contactMe img {
        width: 15%;
    }

    #contactMe {
        padding-top: 15%;
        padding-bottom: 10%;
    }

    #contactHead {
        margin-bottom: 7%;
    }


    #iconCredit{
        font-size: 6px;
    }

}

@media only screen and (max-width: 425px) {
    h1{
        font-size: 23px;
    }

    
    #infoAboutMe h1 {
        font-size: 28px;
    }

    p {
        font-size: 12px;
    }


    #iconCredit{
        font-size: 2px;
    }
}

@media only screen and (max-width: 375px) {
    h1{
        font-size: 20px;
    }

    #infoAboutMe h1 {
        font-size: 22px;
    }

    p {
        font-size: 10px;
    }

    #footerB p{
        font-size: 5px;
    }

    #stephPic {
        margin-top: 8%;
        margin-left: 3%;
        width: 100%;
    }

}